body{
    color: #8e9194;
    background-color: #f4f6f9;
}
.avatar-xl img {
    width: 110px;
}
.rounded-circle {
    border-radius: 50% !important;
}
img {
    vertical-align: middle;
    border-style: none;
}
.text-muted {
    color: #aeb0b4 !important;
}
.text-muted {
    font-weight: 300;
}

.input{
    margin: auto;
  
    background: #91c9ca;
    padding: 10px;
    padding-left: 20px;
    font-size: 14px;
    border-radius: 20px ;
    border: none;
    box-shadow:  6px 6px 6px #6e999a, -6px -6px 6px #b4f9fa ;
}


.neuTitle   {
    background: #8FC6C7;
    -webkit-background-clip: text;
    font-weight: bold;
    background-clip: text;
    color: transparent;
    position: relative;
    text-shadow: #b4f9fa 2px 4px 2px;
    font-size: 70px;
}  

.img{
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    background: url("../../../../img/logo.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all 2s ease-in-out;
    border:none;
    box-shadow: 7px 7px 10px #6e999a, -7px -7px 10px #b4f9fa ;
}

.data-load{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #8FC6C7;
    opacity: 0.4;
    z-index: 100;
}