<div class="container-fluid">
  <div class="row p-3">
    <div class="col-4">
      <img
        src="https://pbs.twimg.com/media/Ea9PB-fXkAImnAV.jpg"
        style="width: 100%; height: 95vh"
        alt="aa"
      />
    </div>
    <div class="col-8">
      <div class="p-5">
        <h3 class="title d-flex justify-content-center">Hakkımızda</h3>
        <hr>
        <p class="text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat
          voluptatum, odit dicta modi nostrum sed, dolor unde molestias omnis
          eos sit ullam ad, reprehenderit ea alias a esse veniam nesciunt. A,
          excepturi aspernatur ratione veniam earum sequi harum. Ducimus a at
          ratione sint. Debitis aperiam eos aliquid doloremque provident
          tenetur?
        </p>
        <div class="row">
          <h3 class="title d-flex justify-content-center">Kurucular</h3>
          <hr>
          <div class="col-4">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Muhammet Burak Çakır</h5>
              </div>
              <div class="card-body">
                <span><i class="fas fa-envelope"></i> </span>
                Muhammetburak@gmail.com
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Müstecep Şahin</h5>
              </div>
              <div class="card-body">
                <span><i class="fas fa-envelope"></i> </span>
                Muhammetburak@gmail.com
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Artan Skorra</h5>
              </div>
              <div class="card-body">
                <span><i class="fas fa-envelope"></i> </span>
                Muhammetburak@gmail.com
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <div class="col-4 mt-3">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title">Bekir Şencan</h5>
                </div>
                <div class="card-body">
                  <span><i class="fas fa-envelope"></i> </span>
                  Muhammetburak@gmail.com
                </div>
              </div>
            </div>

            <div class="col-4 mx-2 mt-3">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title">Emrullah Durumlu</h5>
                </div>
                <div class="card-body">
                  <span><i class="fas fa-envelope"></i> </span>
                  Muhammetburak@gmail.com
                </div>
              </div>
            </div>
          </div>
        </div>

        <h3 class="title d-flex justify-content-center mt-3">Sosyal Medya</h3>
        <hr>
        <div class="d-flex justify-content-center">
          <ul>
            <li>
              <button class="btn btn-outline btn-social">
                <i class="fab fa-facebook"></i>
              </button>
            </li>

            <li>
              <button class="btn btn-outline btn-social">
                <i class="fab fa-twitter"></i>
              </button>
            </li>
            <li>
              <button class="btn btn-outline btn-social">
                <i class="fab fa-instagram"></i>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 
<div class="container-fluid">
  <div class="card mt-2">
    <div class="card-header bg-info text-white d-flex justify-content-center">
      <h1 class="title p-3 mb-3">Hakkımızda</h1>
    </div>
    <div class="card-body">
      <div class="body-part">
        <div class="d-flex justify-content-start">
          <h3 class="title">Biz Kimiz ?</h3>
        </div>
        <hr />

        <p class="text">
          İztanbul sabahattin Zaim Üniversitesi Bilgisayar Mühendisliği 4.sınıf
          öğrencileriyiz. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Aut exercitationem, facere quia ex praesentium, autem deserunt
          reiciendis iste tenetur vitae cupiditate amet et in officia rem,
          perferendis quas voluptates? Sint blanditiis nemo natus porro, placeat
          veniam laudantium necessitatibus laboriosam odit voluptas aliquid
          ullam et animi est accusamus in? Quam, corporis!
        </p>
        <p class="text">
          İztanbul sabahattin Zaim Üniversitesi Bilgisayar Mühendisliği 4.sınıf
          öğrencileriyiz. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Aut exercitationem, facere quia ex praesentium, autem deserunt
          reiciendis iste tenetur vitae cupiditate amet et in officia rem,
          perferendis quas voluptates? Sint blanditiis nemo natus porro, placeat
          veniam laudantium necessitatibus laboriosam odit voluptas aliquid
          ullam et animi est accusamus in? Quam, corporis!
        </p>
        <p class="text">
          İztanbul sabahattin Zaim Üniversitesi Bilgisayar Mühendisliği 4.sınıf
          öğrencileriyiz. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Aut exercitationem, facere quia ex praesentium, autem deserunt
          reiciendis iste tenetur vitae cupiditate amet et in officia rem,
          perferendis quas voluptates? Sint blanditiis nemo natus porro, placeat
          veniam laudantium necessitatibus laboriosam odit voluptas aliquid
          ullam et animi est accusamus in? Quam, corporis!
        </p>
        <hr />
      </div>

      <div class="body-part">
        <div class="d-flex justify-content-start">
          <h3 class="title">Misyonumuz</h3>
        </div>
        <hr />

        <p class="text">
          İztanbul sabahattin Zaim Üniversitesi Bilgisayar Mühendisliği 4.sınıf
          öğrencileriyiz.
        </p>
        <p class="text">
          İztanbul sabahattin Zaim Üniversitesi Bilgisayar Mühendisliği 4.sınıf
          öğrencileriyiz. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Aut exercitationem, facere quia ex praesentium, autem deserunt
          reiciendis iste tenetur vitae cupiditate amet et in officia rem,
          perferendis quas voluptates? Sint blanditiis nemo natus porro, placeat
          veniam laudantium necessitatibus laboriosam odit voluptas aliquid
          ullam et animi est accusamus in? Quam, corporis!
        </p>
        <p class="text">
          İztanbul sabahattin Zaim Üniversitesi Bilgisayar Mühendisliği 4.sınıf
          öğrencileriyiz. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Aut exercitationem, facere quia ex praesentium, autem deserunt
          reiciendis iste tenetur vitae cupiditate amet et in officia rem,
          perferendis quas voluptates? Sint blanditiis nemo natus porro, placeat
          veniam laudantium necessitatibus laboriosam odit voluptas aliquid
          ullam et animi est accusamus in? Quam, corporis!
        </p>
        <hr />
      </div>

      <div class="body-part">
        <div class="d-flex justify-content-start">
          <h3 class="title">Neden YKS koçu?</h3>
        </div>
        <hr />

        <p class="text">
          İztanbul sabahattin Zaim Üniversitesi Bilgisayar Mühendisliği 4.sınıf
          öğrencileriyiz.
        </p>
        <p class="text">
          İztanbul sabahattin Zaim Üniversitesi Bilgisayar Mühendisliği 4.sınıf
          öğrencileriyiz. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Aut exercitationem, facere quia ex praesentium, autem deserunt
          reiciendis iste tenetur vitae cupiditate amet et in officia rem,
          perferendis quas voluptates? Sint blanditiis nemo natus porro, placeat
          veniam laudantium necessitatibus laboriosam odit voluptas aliquid
          ullam et animi est accusamus in? Quam, corporis!
        </p>
        <p class="text">
          İztanbul sabahattin Zaim Üniversitesi Bilgisayar Mühendisliği 4.sınıf
          öğrencileriyiz. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Aut exercitationem, facere quia ex praesentium, autem deserunt
          reiciendis iste tenetur vitae cupiditate amet et in officia rem,
          perferendis quas voluptates? Sint blanditiis nemo natus porro, placeat
          veniam laudantium necessitatibus laboriosam odit voluptas aliquid
          ullam et animi est accusamus in? Quam, corporis!
        </p>
        <hr />
      </div>

      <div class="body-part">
        <div class="d-flex justify-content-start">
          <h3 class="title">İletişim</h3>
        </div>
        <hr />
        <div class="container clearfix">
          <div class="row">
            <div class="col-9">
              <h4 class="uppercase">Adres</h4>

              <p class="text">Halkalı Meydan -Halkalı/istanbul</p>
            </div>
            <div class="col-3">
              <h4 class="uppercase">Sosyal medya</h4>
              <hr />
              <div class="d-flex justify-content-start">
                <ul>
                  <li>
                    <button class="btn btn-outline btn-social">
                      <i class="fab fa-facebook"></i>
                    </button>
                  </li>

                  <li>
                    <button class="btn btn-outline btn-social">
                      <i class="fab fa-twitter"></i>
                    </button>
                  </li>
                  <li>
                    <button class="btn btn-outline btn-social">
                      <i class="fab fa-instagram"></i>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
