
<div class="card container mt-3">
    <div class="card-header">
        <h1 class="title d-flex justify-content-center">Haftanın Şampiyonları</h1>
    </div>
   
    <div class="card-body bg-info">
      <ul class="custom-table">
          <li *ngFor="let rank of ranks; let i=index;">
            <span class="number">{{i+1}}</span>
            <span class="name">{{rank.username}}</span>
            <span class="points">{{rank.score}}</span>
            <span *ngIf="i<5" class="badges"><i class="fa fa-trophy"></i></span>
          </li>
    

          
        </ul>
    </div>
  </div>