
<div class="card container mt-3">
    <div class="card-header">
        <h3 class="title">Haftanın Şampiyonları</h3>
    </div>
   
    <div class="card-body bg-info">
      <ul class="custom-table">
          <li>
            <span class="number">1</span>
            <span class="name">Emrullah</span>
            <span class="points">100</span>
            <span class="badges"><i class="fa fa-trophy"></i></span>
          </li>
    
          <li>
            <span class="number">2</span>
            <span class="name">Emrullah</span>
            <span class="points">99</span>
            <span class="badges"></span>
          </li>
    
          <li>
            <span class="number">3</span>
            <span class="name">Emrullah</span>
            <span class="points">98</span>
            <span class="badges"></span>
          </li>
    
          <li>
            <span class="number">4</span>
            <span class="name">Emrullah</span>
            <span class="points">97</span>
            <span class="badges"></span>
          </li>
    
          <li>
            <span class="number">5</span>
            <span class="name">Emrullah</span>
            <span class="points">96</span>
            <span class="badges"></span>
          </li>
  
          <li>
            <span class="number">5</span>
            <span class="name">Emrullah</span>
            <span class="points">96</span>
            <span class="badges"></span>
          </li>
  
          <li>
            <span class="number">5</span>
            <span class="name">Emrullah</span>
            <span class="points">96</span>
            <span class="badges"></span>
          </li>
          
        </ul>
    </div>
  </div>