.neuTitle   {
  background: #8FC6C7;
  -webkit-background-clip: text;
  background-clip: text;

  position: relative;
  font-weight: bold;
  text-shadow: #b4f9fa 2px 4px 2px;
  font-size: 70px;
}  
.neumorphism{
      height: 100%;
  
  border-radius: 26px;
  background: linear-gradient(225deg, #9bd7d8, #83b5b6);
  box-shadow: inset -5px 5px 38px #3a5051,
          inset 5px -5px 38px #e8ffff;
}

.input{
  margin: auto;
  margin-top: 20px;
  background: #91c9ca;
  padding: 10px;
  padding-left: 20px;
  font-size: 14px;
  border-radius: 20px ;
  border: none;
  box-shadow:  6px 6px 6px #6e999a, -6px -6px 6px #b4f9fa ;
}

.neubutton{

  margin-top: 20px;
  background: #0D9DBB;
  color: white;

 
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  transition: 0.5s;
  letter-spacing: 5px;

  box-shadow:  6px 6px 6px #6e999a, -6px -6px 6px #b4f9fa ;
}