<div class="container p-5" style="min-height: 100vH;">
  <h1 class="d-flex justify-content-center neuTitle mb-5">Nasıl Ders Çalışmalıyım</h1> 
 <div class="row d-flex justify-content-center">
<hr>

<div class="container p-5 mb-5">
  <div class="container p-5">
    <div id="pomodoro1" class="techniques mb-5">
      <div class="d-flex justify-content-center p-2" style="width: 100%">
        <div class="row" style="width: 100%">
          <div class="col-1">
            <img
              style="width: 50px; height: 50px"
              src="https://firebasestorage.googleapis.com/v0/b/ykskocu-a2caf.appspot.com/o/699502aa-0af1-441e-88ad-2bb1ff79f509?alt=media&token=40a61713-6ed2-4358-9c78-916bfcaa4494"
              alt=""
            />
          </div>
          <div class="col-11"><h5 class="title">Hedefiniz olsun</h5></div>
        </div>
      </div>
      <hr />
      <div class="body">
        <p class="text p-5">
          Çalışma motivasyonunu arttıran en önemli etkenlerden birisi de açık ve
          net hedeflerinizin olmasıdır. Hedeflerinizi belirlerken dikkatli
          olmalısınız. Hedefleriniz, ne ulaşamayacağınız kadar yüksek olmalı, ne
          de çok kolay ulaşabileceğiniz kadar düşük. İki durumda da çalışma
          motivasyonunuz düşecektir.
        </p>
      </div>
    </div>

    <div id="pomodoro2" class="techniques mb-5">
      <div class="d-flex justify-content-center p-2" style="width: 100%">
        <div class="row" style="width: 100%">
          <div class="col-1">
            <img
              style="width: 50px; height: 50px"
              src="https://firebasestorage.googleapis.com/v0/b/ykskocu-a2caf.appspot.com/o/9b98b480-ac7b-45af-8ae9-70da893a016d?alt=media&token=6e3eede1-2850-4b9c-ad6a-3e084e94620b"
              alt=""
            />
          </div>
          <div class="col-11">
            <h5 class="title">
              İhtiyaca uygun çalışma planı yapıp ,bu plana sadık olun
            </h5>
          </div>
        </div>
      </div>
      <hr />
      <div class="body">
        <p class="text p-5">
          Hedefinize uygun tempoda ve sizi hayattan soyutlamayacak düzeyde bir
          çalışma programı yapmalısınız . Çalışma programı öğrencinin boşlukta
          kalmasını engeller ve programa uydukça motivasyonu artar. Bu yüzden
          uyabileceğiniz ve hedefinize ulaştıracak bir plan yapmak ve ona sadık
          kalmak çok önemlidir.
        </p>
      </div>
    </div>

    <div id="pomodoro3" class="techniques mb-5">
      <div class="d-flex justify-content-center p-2" style="width: 100%">
        <div class="row" style="width: 100%">
          <div class="col-1">
            <img
              style="width: 50px; height: 50px"
              src="https://firebasestorage.googleapis.com/v0/b/ykskocu-a2caf.appspot.com/o/6a861f44-5cf9-4eb6-a2e1-c004fcf875d2?alt=media&token=72e7f3e2-de50-4b5e-b6ea-7a53a84504b1"
              alt=""
            />
          </div>
          <div class="col-11">
            <h5 class="title">Zamanınızı verimli kullanın</h5>
          </div>
        </div>
      </div>
      <hr />
      <div class="body">
        <p class="text p-5">
          Her insanın en büyük serveti zamandır ,her an harcamak zorunda
          olduğumuz bu serveti verimli kullanmak zorundayız. Özellikle sınırlı
          zamanda çok soru çözmek zorunda olan ve YKS gibi bir sınava hazırlanan
          öğrenciler için zamanı idareli ve verimli kullanmak başarının en
          önemli anahtarıdır.
        </p>
      </div>
    </div>

    <div id="pomodoro4" class="techniques mb-5">
      <div class="d-flex justify-content-center p-2" style="width: 100%">
        <div class="row" style="width: 100%">
          <div class="col-1">
            <img
              style="width: 50px; height: 50px"
              src="https://firebasestorage.googleapis.com/v0/b/ykskocu-a2caf.appspot.com/o/b8f8dc28-f84e-4bbf-88d6-ca600751b32a?alt=media&token=6be3e23c-fe99-442b-aff4-e791d004bd3d"
              alt=""
            />
          </div>
          <div class="col-11">
            <h5 class="title">Odağınızı dağıtacak objelerden kaçının</h5>
          </div>
        </div>
      </div>
      <hr />
      <div class="body">
        <p class="text p-5">
          Ders çalıştığınız ortamları dikkatinizi dağıtacak nesnelerden
          arındırın. Özellikle cep telefonu , tablet gibi uzaktan iletişim
          kurulmak için tasarlanmış aygıtların kapalı hatta ulaşmakta
          zorlanacağınız yerlerde olmasına özen gösterin. Bu sayede
          ,çalıştığınız derse kendinizi kaptırıp öğrenmenizi derinleştirmeniz ve
          zamanı verimli kullanmanız mümkün olacaktır.
        </p>
      </div>
    </div>
    <div id="pomodoro5" class="techniques mb-5">
      <div class="d-flex justify-content-center p-2" style="width: 100%">
        <div class="row" style="width: 100%">
          <div class="col-1">
            <img
              style="width: 50px; height: 50px"
              src="https://firebasestorage.googleapis.com/v0/b/ykskocu-a2caf.appspot.com/o/cbb3c42a-36ae-4f95-a32d-9f16d4da34e7?alt=media&token=e1afab68-8e43-4300-9b1e-a341a307732d"
              alt=""
            />
          </div>
          <div class="col-11">
            <h5 class="title">Derse göre çalışma yöntemi seçin</h5>
          </div>
        </div>
      </div>
      <hr />
      <div class="body">
        <p class="text p-5">
          Dersine göre çalışma yöntemi belirlemek gerekir. Her kilit için farklı
          bir anahtar lazım olacağı gibi , matematik ve tarih gibi farklı iki
          dersin çalışma yöntemleri aynı olamaz. Kendi öğrenme
          alışkanlıklarınızı da göz önünde bulundurarak her ders için etkin
          yöntemler tespit ediniz.
        </p>
      </div>
    </div>

    <div id="pomodoro6" class="techniques mb-5">
      <div class="d-flex justify-content-center p-2" style="width: 100%">
        <div class="row" style="width: 100%">
          <div class="col-1">
            <img
              style="width: 50px; height: 50px"
              src="https://firebasestorage.googleapis.com/v0/b/ykskocu-a2caf.appspot.com/o/32ce2460-b645-49bb-b3f4-a992e7d51f1a?alt=media&token=9ee8ce48-d492-4d7c-a2f2-bf4f73d224e0"
              alt=""
            />
          </div>
          <div class="col-11">
            <h5 class="title">Kendinize Uygun Çalışma Tekniği kullanın</h5>
          </div>
        </div>
      </div>
      <hr />
      <div class="body">
        <p class="text p-5">
          Dersine göre çalışma yöntemi belirlemek kadar size uygun teknik de
          belirlemek gerekir. Her öğrenci farklıdır. Bazı öğrenciler saatlerce
          kalkmadan ders çalışırken bazı öğrenciler kısa sürelerde mola alma
          ihtiyacı duyar . Veriminizi arttıracak doğru tekniği bularak
          çalışmalarınızı bu tekniğe göre devam ettirin.
        </p>
      </div>
    </div>
  </div>
</div>
