

<div class="container p-5 my-5">
  <div class="btn-group mb-5 d-flex justify-content-center"  role="group" aria-label="Basic example">
    <a (click)="onClick('pomodoro1')" type="button" class="btn btn-success px-5 py-2">Pomodoro 1</a>
    <a (click)="onClick('pomodoro2')" type="button" class="btn btn-success px-5 py-2">Pomodoro 2</a>
    <a (click)="onClick('pomodoro3')" type="button" class="btn btn-success px-5 py-2">Pomodoro 3</a>
    <a (click)="onClick('pomodoro4')" type="button" class="btn btn-success px-5 py-2">Pomodoro 4</a>
  </div>




<div class="container p-5">

 <div id="pomodoro1" class="techniques mb-5">
    <div class="d-flex justify-content-center p-2 bg-danger">
      <h5 class="title">Pomodoro 1</h5>
    </div>
    <hr />
    <div class="body">
      <p class="text">
        Pomodoro bir çalışma tekniğidir. Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Ipsa, saepe eveniet amet , et soluta vel, animi quidem
        sit tempore vero sed quisquam quia qui deserunt? Vel dolor laudantium
        minima, ipsam unde enim est recusandae repudiandae sequi, perspiciatis
        veritatis vitae quibusdam praesentium cumque odit distinctio debitis
        eaque possimus provident molestias aperiam. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Eum earum odio quidem reiciendis dolore
        sapiente sit. Adipisci fuga dolore possimus similique natus, mollitia
        saepe eos facilis odio cumque molestias, aliquam a, quia laboriosam
        impedit nostrum optio minima. Eaque molestiae ea numquam. Quas possimus,
        ipsa officia saepe nisi reprehenderit voluptates maxime.
      </p>
    </div>
  </div>

  <div id="pomodoro2" class="techniques mb-5">
    <div class="d-flex justify-content-center p-2 bg-danger">
      <h5 class="title">Pomodoro 2</h5>
    </div>
    <hr />
    <div class="body">
      <p class="text">
        Pomodoro bir çalışma tekniğidir. Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Ipsa, saepe eveniet amet, et soluta vel, animi quidem
        sit tempore vero sed quisquam quia qui deserunt? Vel dolor laudantium
        minima, ipsam unde enim est recusandae repudiandae sequi, perspiciatis
        veritatis vitae quibusdam praesentium cumque odit distinctio debitis
        eaque possimus provident molestias aperiam.
      </p>
    </div>
  </div>

  <div id="pomodoro3" class="techniques mb-5">
    <div class="d-flex justify-content-center p-2 bg-danger">
      <h5 class="title">Pomodoro 3</h5>
    </div>
    <hr />
    <div class="body">
      <p class="text">
        Pomodoro bir çalışma tekniğidir. Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Ipsa, saepe eveniet amet, et soluta vel, animi quidem
        sit tempore vero sed quisquam quia qui deserunt? Vel dolor laudantium
        minima, ipsam unde enim est recusandae repudiandae sequi, perspiciatis
        veritatis vitae quibusdam praesentium cumque odit distinctio debitis
        eaque possimus provident molestias aperiam.
      </p>
    </div>
  </div>

  <div id="pomodoro4" class="techniques mb-5">
    <div class="d-flex justify-content-center p-2 bg-danger">
      <h5 class="title">Pomodoro 3</h5>
    </div>
    <hr />
    <div class="body">
      <p class="text">
        Pomodoro bir çalışma tekniğidir. Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Ipsa, saepe eveniet amet, et soluta vel, animi quidem
        sit tempore vero sed quisquam quia qui deserunt? Vel dolor laudantium
        minima, ipsam unde enim est recusandae repudiandae sequi, perspiciatis
        veritatis vitae quibusdam praesentium cumque odit distinctio debitis
        eaque possimus provident molestias aperiam.
      </p>
    </div>
  </div>
</div>

  <div class="btn-group mt-5 d-flex justify-content-center"  role="group" aria-label="Basic example">
    <a (click)="onClick('pomodoro1')" type="button" class="btn btn-success px-5 py-2">Pomodoro 1</a>
    <a (click)="onClick('pomodoro2')" type="button" class="btn btn-success px-5 py-2">Pomodoro 2</a>
    <a (click)="onClick('pomodoro3')" type="button" class="btn btn-success px-5 py-2">Pomodoro 3</a>
    <a (click)="onClick('pomodoro4')" type="button" class="btn btn-success px-5 py-2">Pomodoro 4</a>
  </div>
  </div>

